{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    {%for room in page%}
        <h1>{{room.name}} / {{room.prices}}</h1>
    {% endfor %}

    <h5>
        <!-- Use Custom Template tags and filters (https://docs.djangoproject.com/en/2.2/howto/custom-template-tags/) 
        {% if page != 1 %}
            <a href="?page={{page|add:-1}}">Prev</a>
        {% endif %}
        -->
        
        <!-- Pagination -->
        {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}">Prev</a>
        {% endif %}
        page {{page.number}} of {{page.paginator.num_pages}} 
        {% if page.has_next %}
            <a href="?page={{page.next_page_number}}">Next</a> 
        {% endif %}
        
    </h5>

{% endblock content %}
