{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}

    <!-- Automatically get List as named "object_list" -->
    {%for room in object_list%}
        <h1>{{room.name}} / {{room.prices}}</h1>
    {% endfor %}

    <h5>
        <!-- Use Custom Template tags and filters (https://docs.djangoproject.com/en/2.2/howto/custom-template-tags/) 
        {% if page != 1 %}
            <a href="?page={{page|add:-1}}">Prev</a>
        {% endif %}
        -->
        
        <!-- Pagination -->
        <!-- ListView's page_obj : https://docs.djangoproject.com/en/2.2/ref/class-based-views/generic-display/ -->
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Prev</a>
        {% endif %}
        page {{page_obj.number}} of {{page_obj.paginator.num_pages}} 
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a> 
        {% endif %}
        
    </h5>

{% endblock content %}
