{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    <!-- Automatically get List as named "object_list" -->
    <!-- Set List name to "rooms" (context_object_name) -->
    {%for room in rooms%}
        <h3>
            <!-- rooms : app_name(urls.py) / detail : name(urlpatterns) / room.pk : Arguments(pk) -->
            <a href = "{% url "rooms:detail" room.pk %}">
                {{room.name}} / ${{room.prices}}
            </a>
        </h3>
    {% endfor %}

    <h5>
        <!-- Use Custom Template tags and filters (https://docs.djangoproject.com/en/2.2/howto/custom-template-tags/) 
        {% if page != 1 %}
            <a href="?page={{page|add:-1}}">Prev</a>
        {% endif %}
        -->
        
        <!-- Pagination -->
        <!-- Pagination a ListView : https://docs.djangoproject.com/en/3.1/topics/pagination/ -->
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Prev</a>
        {% endif %}
        page {{page_obj.number}} of {{page_obj.paginator.num_pages}} 
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a> 
        {% endif %}
        
    </h5>

{% endblock content %}
